/* @font-face {
    font-family: akn;
    src: url("ALIBABA-PUHUITI-REGULAR.TTF") format('truetype');
    font-weight: normal;
    font-style: normal;

} */
/* @font-face {
    font-family: me;
    src: url("ALIBABA-PUHUITI-MEDIUM.TTF") format('truetype');
    font-weight: normal;
    font-style: normal;

} */


